/*Mixins*/
/*App Styles*/
* {
  font-family: "Rubik", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
}

.App .btn-cart {
  background: #00ff53;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff53), to(#00ffb1));
  background: linear-gradient(180deg, #00ff53 0%, #00ffb1 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  padding: 0.5em;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 2.5em;
  z-index: 5;
}

.App .btn-cart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.App footer {
  margin-top: 20em;
}

.Cart {
  background: #00ff53;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff53), to(#00ffb1));
  background: linear-gradient(180deg, #00ff53 0%, #00ffb1 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  padding: 0.5em;
  position: fixed;
  width: 30%;
  bottom: 1em;
  right: 1em;
  z-index: 6;
}

.Cart button {
  background: #00ff53;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff53), to(#00ffb1));
  background: linear-gradient(180deg, #00ff53 0%, #00ffb1 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  padding: 0.5em;
  background: #00ff53;
  background: linear-gradient(180deg, #00ff53 0%, #00ffb1 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  padding: 0.5em;
  z-index: 7;
}

/*Component Styles*/
.Land h1 {
  font-size: 20em;
  margin: 0;
}

.Land h2 {
  font-size: 10em;
  margin: 0;
}

.Land button {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  border: none;
  font-size: 5em;
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
}

.Land button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ItemGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Item {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: auto auto;
  margin-top: 2em;
  width: 60%;
  height: 25em;
}

.Item img {
  /*Img Dimensions: 800x800*/
  width: 50%;
  display: block;
  margin: auto auto;
}

.Item button {
  background: #00ff53;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff53), to(#00ffb1));
  background: linear-gradient(180deg, #00ff53 0%, #00ffb1 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  padding: 0.5em;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}

.Item button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=app.css.map */