/*Mixins*/
@mixin glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
}

@mixin btnHover {
  transition: transform ease-in-out 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

/*App Styles*/
* {
  font-family: "Rubik", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
}

/*Component Styles*/
.Land {
  h1 {
    font-size: 20em;
    margin: 0;
  }
  h2 {
    font-size: 10em;
    margin: 0;
  }
  button {
    @include glass();
    @include btnHover();
    border: none;
    font-size: 5em;
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
  }
}

.ItemGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Item {
  @include glass();
  display: block;
  margin: auto auto;
  width: 60%;
  height: 23em;
  img {
    width: 65%;
    height: 50%;
  }
  button {
    @include btnHover();
    background: rgb(0, 255, 83);
    background: linear-gradient(
      180deg,
      rgba(0, 255, 83, 1) 0%,
      rgba(0, 255, 177, 1) 100%
    );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    color: white;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }
}
