/*Mixins*/
/*App Styles*/
* {
  font-family: "Rubik", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
}

.App .Toastify__toast-body {
  color: black !important;
}

.App .btn-cart {
  background: #00ff53;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff53), to(#00ffb1));
  background: linear-gradient(180deg, #00ff53 0%, #00ffb1 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  padding: 0.5em;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 2.5em;
  z-index: 5;
}

.App .btn-cart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.App footer {
  margin-top: 20em;
}

/*Component Styles*/
.Land h1,
.Land h2 {
  margin: 0;
}

.Land button {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  border: none;
  font-size: 5em;
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
}

.Land button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ItemGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Item {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: auto auto;
  margin-top: 2em;
  width: 60%;
  height: 25em;
}

.Item img {
  /*Img Dimensions: 800x800*/
  width: 50%;
  display: block;
  margin: auto auto;
}

.Item button {
  background: #00ff53;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff53), to(#00ffb1));
  background: linear-gradient(180deg, #00ff53 0%, #00ffb1 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  padding: 0.5em;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}

.Item button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Cart {
  background: #00ff53;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff53), to(#00ffb1));
  background: linear-gradient(180deg, #00ff53 0%, #00ffb1 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  padding: 0.5em;
  position: fixed;
  width: 30%;
  bottom: 1em;
  right: 1em;
  z-index: 6;
  max-height: 80%;
}

.Cart hr {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.Cart .btn-x {
  background: none;
  border: none;
  font-size: 2em;
  z-index: 7;
  display: block;
}

.Cart .btn-x i {
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.Cart .btn-x:hover i {
  color: #fd6565;
}

.Cart p {
  color: white;
  display: inline-block;
  margin: 1em;
}

.Cart .cartItemsContainer {
  overflow-y: auto;
  height: 10em;
}

.Cart .cartItemsContainer .cartItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Cart .cartItemsContainer .cartItem hr {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  width: 99%;
}

.Cart .cartItemsContainer .cartItem img {
  width: 50%;
  display: inline-block;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.Cart .cartItemsContainer .cartItem p {
  display: inline-block;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  color: white;
}

.Cart .cartItemsContainer .cartItem button {
  display: inline-block;
  font-size: 1em;
}

/*Mobile Styles*/
@media only screen and (max-width: 415px) {
  .App .btn-cart {
    font-size: 1.5em;
  }
  .Land h1 {
    font-size: 2em;
  }
  .Land h2 {
    font-size: 1em;
  }
  .Land button {
    display: inline;
    font-size: 2.5em;
  }
  .ItemGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Item {
    width: 90%;
  }
  .Cart {
    width: 80%;
  }
  .Cart p {
    font-size: 0.5em;
  }
  footer h1 {
    font-size: 1em;
  }
}

/*Tablet Styles*/
@media only screen and (min-width: 760px) {
  .App .btn-cart {
    font-size: 1.5em;
  }
  .Land h1 {
    font-size: 10em;
  }
  .Land h2 {
    font-size: 6em;
  }
  .Land button {
    display: inline;
    font-size: 5em;
  }
  .ItemGrid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .Item {
    width: 90%;
  }
  .Item img {
    width: 50%;
  }
  .Cart {
    width: 80%;
  }
  .Cart p {
    font-size: 0.5em;
  }
  footer h1 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1370px) {
  .App .btn-cart {
    font-size: 2em;
  }
  .Cart {
    width: 30%;
  }
  .Land h1 {
    font-size: 20em;
  }
  .Land h2 {
    font-size: 10em;
  }
  .ItemGrid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .Item {
    width: 80%;
  }
  .Item img {
    width: 30%;
  }
}
/*# sourceMappingURL=App.css.map */